.headerBalance{
    background: #002614;
    color: #ffffff;
    padding: 4px;
    border-radius: 6px;
}

.bg-purple-alt{
    background: #002614 !important;
}

.bg-purple-alt2{
    background: #002614 !important;
}

.bg-red-alt{
    background: #002614 !important;
}

.pagination .page-item.active .page-link{
    background: #002614 !important;
}

.text-red-alt{
    color: #002614 !important;
}

.padding-button-short{
    padding: 0.6rem 2rem !important;
}

.divide-dashboard-title{
    padding: 20px;
    text-align: center;
    background: #eeeeee;
}

.main-menu.bg-purple-alt.menu-light .navigation > li.open > a{
    background: #002614 !important;
}

/* estilo de los inputs */
/* input[type=text]:hover:not([disabled]), 
input[type=text]:focus, 
input[type=text]:read-only, 
input[type=password]:hover:not([disabled]), 
input[type=password]:focus, 
input[type=password]:read-only, 
input[type=search], 
input[type=search]:focus, 
input[type=search]:active, 
label:hover ~ input[type=text], 
label:hover ~ input[type=password]{
  color: #ffffff;
} */

/* scroll principal */

body::-webkit-scrollbar {
    width: 5px !important;
    overflow: visible !important;
}
  
body::-webkit-scrollbar-thumb {
    background: #00BE54 !important;
    border-radius: 7px !important;
 }


